/* Add Font */

@font-face {
    font-family: DOS;
    src: url(MorePerfectDOSVGA.ttf);
}
  

/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: DOS;
    background-color:black;
	line-height: 1;
    font-size: 21px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: white; /* Set link color */
    text-decoration: none; /* Remove underline */
}

/* Animations */
@keyframes cursor-blink {
    0% {
        background: transparent;
    }
    100%{
        background: white;
    }
}

  




/* Begin Styling Nav*/
#panel-left {
    /* background-color: aquamarine; */
    width: 20%;
    color: white;
    height: 100vh;

}
#panel-left-contents {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}
nav {
    /* background-color: aqua; */
    width: 120px;
}
#lemurph {
    color: #00FF29;
    text-align: center;
    font-size: 40px;
}
#nav-header {
    /* background-color: darkblue; */
    width: 40%;
    display: flex;
    align-items: center;
    gap: 2px;
}
#nav-header::after {
    content: "";
    width: 5px;
    height: 17px;
    background-color: white;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}
#nav-body {
    /* background-color: azure; */
    margin-left: 30%;
}
.nav-links:hover {
    background-color: white;
    color: black;
}



#cursor {
    pointer-events: none;
    margin-top: -25px;
    margin-left: -25px;
	position:absolute;
    width:60px;
    height:40px;
    background-color: #00FF29;
    color: white;
    text-align: center;
    padding-top: 25px;
}